
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,300&display=swap');

body
  font-size: 16px
  color: #333333
  margin: 0
  font-family: -apple-system, Raleway, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  background-image: linear-gradient(45deg, #ffd1c9 16.67%, #e8e3ff 16.67%, #e8e3ff 33.33%, #fff9c9 33.33%, #fff9c9 50%, #ffd1c9 50%, #ffd1c9 66.67%, #e8e3ff 66.67%, #e8e3ff 83.33%, #fff9c9 83.33%, #fff9c9 100%)
  background-size: 84.85px 84.85px
